 * { box-sizing: border-box; }
 body {
 font-family:Georgia, sans-serif;
 background-color: #2bcffb;
 font-size: 28px;
 padding: 20px;
 margin: 28px;
 border: 1px solid black;
 }

 .card {
  max-width: 600px;
  padding: 32px;
  border: 3px solid #3d27ccff;
  border-radius: 12px;
  background-color: red;
  magin: 0 auto;
}

 h1 {
font-size: 48px;
margin:20px;
color:black;
 } 

 p{
 font-size: 28px;
 margin:20px;
 color:black;
 }
 