* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  line-height: 4;
  color: #111111;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
