* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Helvetica", sans-serif;
   line-height: 2;
    display: center;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;
}   
main {
    max-width: 1550px;
    width: 100%;
    padding: 15px;
    border: 5px solid #605e5e;
    text-align: justify;
    align-items:center
    
}

h1 {
    font-size: 50px;
    line-height: 4em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 4px solid rgb(123, 178, 228);
}
.nav {
 position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #605e5e;
   box-shadow: 0 4px 8px #3e3b3b;
}
.nav ul {
  list-style: none;
  margin: 5;
  padding: 10;
  display: flex;
  gap: 24px;
}

.nav li {
  margin-bottom: 2;
}

.nav a {
display: block;
  padding: 12px 0;
  color: #82e56c;
  transition: color 0.25s ease;
}
.nav a:hover {
  border-bottom: 5px solid rgb(123, 178, 228);
}
.nav+main {
  margin-top: 65px;
}

