* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Helvetica", sans-serif;
    line-height: 2;
    color: #111111;
    background-color: #ffffff;
    display: center;
    justify-content: flex;
    align-items: flex-start;
    min-height: 100vh;
    padding: 32px;
}   
main {
    max-width: 1550px;
    width: 100%;
    padding: 15px;
    border: 5px solid #605e5e;
    text-align: justify;
    align-items:center
    
}

h1 {
    font-size: 45px;
    line-height: 2em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-top: 4px solid rgb(0, 0, 0);
}

p {
    margin-bottom: 10px;
}

ul{
 margin-left: 24px;
 margin-bottom: 10px;
}

li{
    margin-bottom: 5px;
}

a {
    color:#111111;
}

a:hover {
color:#605e5e;
}

.nav {
 position: fixed;
  top: 24px;
  left: 24px;
  right: 150px;
  background-color: #605e5e;
   box-shadow: 0 4px 8px #3e3b3b;
}
.nav ul {
  list-style: none;
  margin: 5;
  padding: 10;
  display: flex;
  gap: 24px;
}

.nav li {
  margin-bottom: 2px;
}

.nav a {
display: block;
  padding: 12px 0;
  color: #82e56c;
   border: 1px solid rgba(0, 0, 0, 0.25);
  transition: color 0.25s ease;
}
.nav a:hover {
  border-bottom: 5px solid rgb(123, 178, 228);
}
.nav+main {
  margin-top: 65px;
}


